/** biome-ignore-all lint/suspicious/noUnknownAtRules: Tailwind CSS directives are valid */
@import "tailwindcss";

:root {
	--primary: #d7b764;
	--secondary: #78d261;
	--accent: #b88b5c;

	--background: #f8f9fa;
	--card: #ffffff;
	--muted: #f1f3f5;

	--foreground: #1a1a1a;
	--muted-foreground: #6b7280;

	--destructive: #ef4444;
	--border: #e5e7eb;
}

@theme inline {
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-accent: var(--accent);

	--color-background: var(--background);
	--color-card: var(--card);
	--color-muted: var(--muted);

	--color-foreground: var(--foreground);
	--color-muted-foreground: var(--muted-foreground);

	--color-destructive: var(--destructive);
	--color-border: var(--border);

	--font-sans: var(--font-inter);
	--font-mono: var(--font-jetbrains-mono);
	--font-heading: var(--font-poppins);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-sans);
}

@layer components {
	.form-input {
		@apply p-2 font-sans text-sm bg-background border-border border-2 rounded-xl focus:outline-none focus:ring-3 focus:ring-primary;
	}
	.btn {
		@apply p-2 rounded-xl cursor-pointer transition-colors duration-200 font-medium;
	}

	.btn-primary {
		@apply bg-primary text-white hover:bg-primary/90;
	}
}
